html,body{
    height: 100%;
    margin: 0 0;
}

@font-face{
    font-family: Rubik;
    src: url(fonts/Rubik-Medium.ttf)
}

h1, p, #output, .end{
    font-family: Rubik;
}

p, #output {
    font-size: 24px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.scoreboard{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.scoreboard div{
    text-align: center;
}

#button-container{
    display:flex;
    justify-content: space-around;
    flex: 0 0 auto;
}

#button-container input{
    flex: 0 0 auto;
    width: 20%;
}

#output{
    margin-bottom: 100px;
}

.end {
    color: black;
    font-size: 32px;
    background-color: white;
    width: 75%;
    border: 5px double black;
    text-align: center;
    padding:10px;
}

